<body>
  <app-layaout>
    <div class="container">
      <div class="row">
        <div class="col mt-4 d-flex justify-content-between">
          <h2 class="fw-bold" style="color: honeydew">Proveedor</h2>
          <ol class="breadcrumb align-self-end bg-transparent m-0">
            <li class="breadcrumb-item" aria-current="page">
              <a
                class="fw-bold active text-success"
                routerLink="/proveedor"
                style="text-decoration: none"
                >proveedor</a
              >
            </li>
          </ol>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <button
              type="button"
              class="btn btn-success btn-sm float-start mb-3"
              data-bs-toggle="modal"
              data-bs-target="#userModal"
            >
              Agregar Proveedor
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="custom-table table table-dark table-hover">
              <thead>
                <tr class="text-success">
                  <th scope="col">Item</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let prov of proveedores.lista?.content; let i = index"
                >
                  <th scope="row">{{ calculateItemNumber(i) }}</th>
                  <td>{{ prov.nombre }}</td>
                  <td>{{ prov.telefono }}</td>
                  <td>{{ prov.correo }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-success me-2"
                      (click)="verProveedor(prov)"
                    >
                      Editar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="eliminarProveedor(prov)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav
            aria-label="Page navigation example"
            class="mt-3 pages"
            data-bs-theme="dark"
          >
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" routerLink="/proovedor/{{ pagePrev }}"
                  >Previous</a
                >
              </li>
              <li *ngFor="let page of pages" class="page-item">
                <a class="page-link" routerLink="/proovedor/{{ page }}">{{
                  page + 1
                }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="/proovedor/{{ pageNext }}"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </app-layaout>
</body>

<!-- Modal para editar -->
<div
  class="modal fade"
  id="actualizar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  data-bs-theme="dark"
  style="color: white"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
          Actualizar Proveedor
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          [formGroup]="proveedorForm"
          (ngSubmit)="actualizarProveedor()"
        >
          <div class="col-12">
            <label for="nombreProveedor" class="form-label"
              >Nombre del Proveedor</label
            >
            <input
              type="text"
              class="form-control"
              id="nombreProveedor"
              formControlName="nombre"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('nombre')?.valid &&
                  proveedorForm.get('nombre')?.touched,
                'is-invalid':
                  proveedorForm.get('nombre')?.invalid &&
                  proveedorForm.get('nombre')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('nombre')?.invalid &&
                proveedorForm.get('nombre')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('nombre')?.hasError('required')"
                >El nombre del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('nombre')?.hasError('pattern')"
                >El nombre solo puede contener letras y espacios.</small
              >
            </div>
          </div>

          <div class="col-12">
            <label for="telefonoProveedor" class="form-label"
              >Teléfono del Proveedor</label
            >
            <input
              type="text"
              class="form-control"
              id="telefonoProveedor"
              formControlName="telefono"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('telefono')?.valid &&
                  proveedorForm.get('telefono')?.touched,
                'is-invalid':
                  proveedorForm.get('telefono')?.invalid &&
                  proveedorForm.get('telefono')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('telefono')?.invalid &&
                proveedorForm.get('telefono')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('telefono')?.hasError('required')"
                >El teléfono del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('telefono')?.hasError('pattern')"
                >Ingrese un teléfono válido.</small
              >
            </div>
          </div>

          <div class="col-12">
            <label for="correoProveedor" class="form-label"
              >Correo del Proveedor</label
            >
            <input
              type="email"
              class="form-control"
              id="correoProveedor"
              formControlName="correo"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('correo')?.valid &&
                  proveedorForm.get('correo')?.touched,
                'is-invalid':
                  proveedorForm.get('correo')?.invalid &&
                  proveedorForm.get('correo')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('correo')?.invalid &&
                proveedorForm.get('correo')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('correo')?.hasError('required')"
                >El correo del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('correo')?.hasError('email')"
                >Ingrese un correo válido.</small
              >
            </div>
          </div>

          <div class="col-6">
            <button type="submit" class="btn btn-success float-end">
              Guardar
            </button>
          </div>
          <div class="col-6">
            <button
              type="button"
              id="cerrarModalAc"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar -->
<div
  class="modal fade"
  id="userModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  data-bs-theme="dark"
  style="color: white"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Agregar Proveedor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          [formGroup]="proveedorForm"
          (ngSubmit)="registrarProveedor()"
        >
          <div class="col-12">
            <label for="nombreProveedor" class="form-label"
              >Nombre del Proveedor</label
            >
            <input
              type="text"
              class="form-control"
              id="nombreProveedor"
              formControlName="nombre"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('nombre')?.valid &&
                  proveedorForm.get('nombre')?.touched,
                'is-invalid':
                  proveedorForm.get('nombre')?.invalid &&
                  proveedorForm.get('nombre')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('nombre')?.invalid &&
                proveedorForm.get('nombre')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('nombre')?.hasError('required')"
                >El nombre del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('nombre')?.hasError('pattern')"
                >El nombre solo puede contener letras y espacios.</small
              >
            </div>
          </div>

          <div class="col-12">
            <label for="telefonoProveedor" class="form-label"
              >Teléfono del Proveedor</label
            >
            <input
              type="text"
              class="form-control"
              id="telefonoProveedor"
              formControlName="telefono"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('telefono')?.valid &&
                  proveedorForm.get('telefono')?.touched,
                'is-invalid':
                  proveedorForm.get('telefono')?.invalid &&
                  proveedorForm.get('telefono')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('telefono')?.invalid &&
                proveedorForm.get('telefono')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('telefono')?.hasError('required')"
                >El teléfono del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('telefono')?.hasError('pattern')"
                >Ingrese un número de teléfono válido.</small
              >
            </div>
          </div>

          <div class="col-12">
            <label for="correoProveedor" class="form-label"
              >Correo del Proveedor</label
            >
            <input
              type="email"
              class="form-control"
              id="correoProveedor"
              formControlName="correo"
              [ngClass]="{
                'is-valid':
                  proveedorForm.get('correo')?.valid &&
                  proveedorForm.get('correo')?.touched,
                'is-invalid':
                  proveedorForm.get('correo')?.invalid &&
                  proveedorForm.get('correo')?.touched
              }"
            />
            <div
              *ngIf="
                proveedorForm.get('correo')?.invalid &&
                proveedorForm.get('correo')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="proveedorForm.get('correo')?.hasError('required')"
                >El correo del proveedor es requerido.</small
              >
              <small *ngIf="proveedorForm.get('correo')?.hasError('email')"
                >Ingrese un correo válido.</small
              >
            </div>
          </div>

          <div class="col-6">
            <button type="submit" class="btn btn-success float-end">
              Guardar
            </button>
          </div>
          <div class="col-6">
            <button
              type="button"
              id="cerrarModal"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
